<div class="container">
    <table>
        <caption>Endereço</caption>
        <thead>
            <tr>
                <th>Rua:</th>
                <th>Bairro:</th>
                <th>Cidade:</th>
                <th>CEP:</th>
                <th>Estado:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ address.street }}</td>
                <td>{{ address.district }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.state }}</td>
                <td>{{ address.zipCode }}</td>
            </tr>
        </tbody>
    </table>
</div>