<div class="container">
    <table>
        <caption>Endereço</caption>
        <thead>
            <tr>
                <th>Rua: <p>{{ address.street }}</p>
                </th>
                <th>Bairro: <p>{{ address.district }}</p>
                </th>
                <th>Cidade: <p>{{ address.city }}</p>
                </th>
                <th>CEP: <p>{{ address.zipCode }}</p>
                </th>
                <th>Estado: <p>{{ address.state }}</p>
                </th>
            </tr>
        </thead>
    </table>
</div>